[Unit]
Description=Rak pppd for LTE Module

[Service]
WorkingDirectory=/usr/local/rak/bin/
ExecStart=/usr/local/rak/bin/pppd.sh
SyslogIdentifier=rak-pppd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
